<!-- This is the jumbotron and main header -->
<div class="container">
    <div class="jumbo-header" id="overlay">
    <h1 id="header" class="h1-design">
        <span class="glyphicon glyphicon-cutlery glyph-design"></span> 
        Burger Burger
    </h1>
        <hr/>
        <h2 class="h2-design">We make your burger dreams come true.</h2   >
    </div>
</div>

<!-- This is where the data is updated to the window -->
<div class="container">
    <div class="col-md-6">
        <h3 class= "header-format">Burgers Ready To Eat</h3>
        <hr/>
        <ul class="list-group">
            {{#each burger}}
                {{#unless this.devoured}}
                <li class="list-group-item">
                    <h4 class="header-format">
                        {{this.burger_name}}
                    </h4>
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class= "form-control"  type="submit">Om Nom Nom!</button>
                    </form>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class= "header-format">Devoured Burgers</h3>
        <hr/>
        <ul class="list-group">
        {{#each burger}}
            {{#if this.devoured}}
            <li class="list-group-item">
                <h4 class="header-format">
                    {{this.burger_name}}
                </h4>
                <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class= "form-control" type="submit">I want more!</button>
                </form>
            </li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>

<!-- This is where the client will add their burger -->
<div class="container">
    <div class="col-md-12" id= "burg-input">
        <form class="create-update-form" action="/" method="POST">

            <div class="form-group">
                <label for="burg"><h3 class= "header-format">What Burger Would You Like To Eat?</h3></label>
                <input class="form-control" type="text" id="burg" name="burger_name" placeholder="List your burger here!">
            </div>

            <button class= "form-control" type="submit" name="devoured" value="0">I'm Hungry!</button>
        </form>
    </div>      
</div>